{% extends "base.html" %}
{% load static %}
{% load utils %}
{% load cloudinary %}

{% block title %}SkyHack | {{ airport.title }}{% endblock %}
{% block meta %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:title" content="{{ airport.title }}"/>
    <meta property="og:description" content="{{ airport.body | truncatewords:12 }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:image" content="{% cloudinary_url airport.image1 %}"/>
{% endblock %}


{% block body %}
    <!-- Post Detail -->
    <div class="image_container">
        <div class="top_image pc"><img src="{% cloudinary_url airport.image1 %}" alt=""></div>
        <div class="remains_image pc">
            <div><img src="{% cloudinary_url airport.image2 %}" alt=""></div>
            <div><img src="{% cloudinary_url airport.image3 %}" alt=""></div>
        </div>
        <div class="remains_image pc">
            <div><img src="{% cloudinary_url airport.image4 %}" alt=""></div>
            <div><img src="{% cloudinary_url airport.image5 %}" alt=""></div>
        </div>

        <carousel :per-page="1">
            <slide><img src="{% cloudinary_url airport.image1 %}" alt=""></slide>
            <slide><img src="{% cloudinary_url airport.image2 %}" alt=""></slide>
            <slide><img src="{% cloudinary_url airport.image3 %}" alt=""></slide>
            <slide><img src="{% cloudinary_url airport.image4 %}" alt=""></slide>
            <slide><img src="{% cloudinary_url airport.image5 %}" alt=""></slide>
        </carousel>
    </div>

    <div class="review_container">
        <div class="wrapper">
            <div class="review_content">
                <h2>{{ airport.title }}</h2>
                <div class="address">
                    {{ airport.country.name }}
                </div>

                <div class="rating">
                    <span class="stars">
                        {% for file_id in ""|rjust:airport.rate %}
                            <img src="{% static 'images/fullstar.svg' %}" alt="">
                        {% endfor %}
                        {% with notrate=airport.rate|subtract:5 %}
                            {% for file_id in ""|rjust:notrate %}
                                <img src="{% static 'images/empty_star.svg' %}" alt="">
                            {% endfor %}
                        {% endwith %}
                        <span>{{ airport.rate }}.0</span>
                    </span>
                </div>
                <div class="tag mt-2">{{ airport.created_at | date:"Y/m/d" }}</div>
                <div class="review_body">
                    {{ airport.body | linebreaksbr }}
                </div>
            </div>
            <div class="map_info">
                <h2>Location</h2>
                <div class="frame-container">
                    <iframe
                            src="https://maps.google.co.jp/maps?output=embed&q={{ airport.title | lower }}"
                            frameborder="0"
                            allowfullscreen=""
                            aria-hidden="false"
                            tabindex="0">

                    </iframe>
                </div>
            </div>
        </div>
    </div>

    {% if reviews %}
        <div class="comment-container">
            {% for review in reviews %}
                <div class="thread-container">
                    <div class="commentter-info">
                        <a href="/users/{{ review.author.id }}">
                            <img src="{% cloudinary_url review.author.thumbnail %}"
                                 class="rounded-circle" alt="">
                        </a>
                        <span>{{ review.author }}</span>
                    </div>
                    <p class="comment-date">{{ review.created_at | date:"Y/m/d" }}</p>
                    <span class="stars">
                    {% for file_id in ""|rjust:review.rate %}
                        <img src="{% static 'images/fullstar.svg' %}" alt="">
                    {% endfor %}
                        {% with notrate=review.rate|subtract:5 %}
                            {% for file_id in ""|rjust:notrate %}
                                <img src="{% static 'images/empty_star.svg' %}" alt="">
                            {% endfor %}
                        {% endwith %}
                        <span>{{ review.rate }}.0</span>
                </span>

                    <div class="comment-content">
                        <h5>{{ review.title }}</h5>
                        <p>{{ review.body | safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="comment-container">
            <div class="thread-container mt-0">
                <div class="commentter-info">
                    <a href="/users/{{ user.id }}">
                        <img src="{% cloudinary_url user.thumbnail %}"
                             class="rounded-circle" alt="">
                    </a>
                    <span>{{ user.username }}</span>
                </div>
                <div class="comment-content">
                    <div class="create-new-comment">
                        <a href="/reviews/create">Write your review</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
