* {
    box-sizing: border-box;
    margin: 0;
    padding-inline-start: 0;
}

body {
    font-family: "Raleway", sans-serif !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #787878 !important;
}


/* Basic */
.btn_dark {
    background-color: #000;
    padding: 12px;
    border-radius: 10px;
    color: #fff !important;
    font-weight: bold;
    text-decoration: none;
}


.signup_btn a {
    font-size: 16px !important;
    padding: 10px !important;
}

.btn_dark:hover {
    text-decoration: none;
    background-color: #454545;
}

/* .hidden {
    display: none;
} */

.profile_modal {
    position: absolute;
    background: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    z-index: 2;
    right: 3%;
    width: 215px;
    height: 465px;
    padding-top: 34px;
    box-shadow: 0 0 16px 0 hsla(0, 0%, 75.3%, 0.5);
}

.profile_modal input {
    width: 50%;
    height: 36px;
    max-width: 400px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.profile_modal a {
    color: inherit;
    font-size: 20px;
}

.top_modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 547px;
    padding-top: 60px;
}

.top_modal .signup div {
    margin-bottom: 30px;
}

.top_modal .signup div:nth-child(2) {
    margin-bottom: 50px;
}

.top_modal .signup a {
    margin-top: 40px;
}

.top_modal p {
    margin: 60px;
    font-size: 20px;
}

.social_signup {
    margin: 50px;
}

.social_signup span {
    font-size: 20px;
}

.user_part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.user_part span {
    margin-left: 8px;
    font-size: 14px;
}

.profile_modal ul {
    list-style: none;
}

.profile_modal li {
    margin-top: 80px;
}

/* SlideOut Menu */
#slideout-menu {
    z-index: 4;
    top: 0;
    left: 0;
    background: #fff;
    position: fixed;
    width: 260px;
    height: 100%;
    text-align: center;
    transform: translateX(-260px);
    transition: transform 250ms ease-in-out;
}

#slideout-menu.open {
    transform: translate(0);
}

#slideout-menu ul {
    list-style: none;
    padding-left: 0;
}

#slideout-menu ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 57px;
}

#slideout-menu h3 {
    font-size: 1.17em;
}

#slideout-menu a {
    font-size: 19px;
    color: #757575;
    text-decoration: none;
}

#slideout-menu h3 {
    color: #757575;
    padding-top: 50px;
    padding-bottom: 50px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

/*  Navigation */
.nav_container {
    background-color: #fff;
    height: 64px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_container .wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

nav ul {
    display: flex;
}

.nav_items {
    list-style: none;
}

.nav_items li {
    margin-right: 100px;
}

.nav_items a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.home_nav {
    list-style: none;
}

.home_nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.home_nav li:first-child > a > img:hover {
    opacity: 0.6;
}

.logo img:hover {
    opacity: 0.6;
}

.avatar {
    width: 48px;
    height: 48px;
}

header .wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

header .hero_content {
    text-align: center;
}

.hero_content h1 {
    font-weight: bold;
}

.hero_content p {
    margin-top: 60px;
    line-height: 40px;
}

@media screen and (min-width: 481px) {
    nav ul {
        align-items: center;
    }

    .hero_content h1 {
        font-size: 118px;
        margin-top: 140px;
    }

    .hero_content p {
        font-size: 34px;
        margin-right: 160px;
        margin-left: 160px;
    }

    .guest_btn {
        margin-top: 140px;
    }

    .home_nav li {
        margin-right: 60px;
    }

    .sp {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .hero_content h1 {
        font-size: 68px;
        padding: 0 36px;
        margin-top: 90px;
    }

    .hero_content p {
        font-size: 20px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .guest_btn {
        margin-top: 60px;
    }

    .nav_container .logo {
        margin-left: 14px;
    }

    .nav_container .logo img {
        width: 40px;
    }

    .home_nav li {
        margin-right: 14px;
    }

    .pc {
        display: none;
    }
}

.guest_btn a {
    padding: 16px;
    font-size: 18px;
}

/* Usage Movie */

.usage_container {
    margin-top: 120px;
    text-align: center;
}

.usage_container .wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.usage_container .box {
    padding: 40px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}

.reviewer_container {
    margin-top: 80px;
    background-color: #ffcc33;
}

.reviewer_container .wrapper {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    grid-template-columns: 200px 600px;
}

.reviewer_container .review_content p:first-child {
    font-weight: bold;
    line-height: 40px;
    color: #000000;
}

.reviewer_container .review_content p:nth-child(2) {
    margin-top: 40px;
    line-height: 40px;
    color: #000000;
}

@media screen and (min-width: 481px) {
    .reviewer_container .wrapper {
        display: grid;
        padding: 140px 80px;
    }

    .reviewer_container .review_content p:first-child {
        line-height: 40px;
        font-size: 26px;
    }

    .reviewer_container .review_content p:nth-child(2) {
        font-size: 20px;
    }

    .toggle_profile img {
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .reviewer_container .wrapper {
        padding: 60px 20px;
    }

    .reviewer_container .review_content p:first-child {
        font-size: 22px;
        line-height: 36px;
        padding: 20px;
    }

    .reviewer_container .review_content p:nth-child(2) {
        padding: 0 10px;
        font-size: 16px;
    }
}

/* Supporter */
.supporter_container {
    text-align: center;
    background: #66cc33;
}

.supporter_container .wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 0;
}

@media screen and (min-width: 481px) {
    .supporter_container {
        padding-bottom: 80px;
    }

    .supporter_logo {
        display: flex;
        margin-top: 80px;
    }

    .supporter_container h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    .reviewer_container .wrapper {
        padding: 30px 10px;
    }

    .supporter_container h2 {
        font-size: 20px;
    }

    .reviewer_photo {
        text-align: center;
    }

    .reviewer_photo img {
        width: 160px;
        height: 160px;
    }

    .supporter_logo {
        margin-top: 40px;
    }

    .supporter_logo img {
        width: 150px;
    }
}

/* Filter Box */
.filter_box {
    text-align: center;
}

.filter_box form {
    position: relative;
    box-shadow: 0 0 16px 0 hsla(0, 0%, 75.3%, 0.5);
}

.filter_box input {
    width: 80%;
    position: absolute;
    left: 50px;
    border: none;
    font-size: 100%;
    line-height: 1.15;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    cursor: text;
    border-radius: 0;
    text-align: start;
    -webkit-appearance: textfield;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    display: inline-block;
    outline: none;
}

@media screen and (min-width: 481px) {
    .filter_box {
        margin: 100px;
    }

    .filter_box img {
        position: absolute;
        left: 14px;
        top: 10px;
    }

    .filter_box input {
        height: 50px;
    }

    .filter_box form {
        width: 50%;
        height: 50px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .filter_box {
        margin: 60px 0;
    }

    .filter_box input {
        height: 44px;
    }

    .filter_box form {
        width: 80%;
        height: 44px;
        margin: 0 auto;
    }

    .filter_box img {
        position: absolute;
        left: 14px;
        top: 12px;
        width: 18px;
    }
}


/* Post */
.post_container {
    justify-content: center;
    margin: 0 auto;
}

.post_card {
    box-shadow: 0 0 16px 0 hsla(0, 0%, 75.3%, 0.5);
    margin-bottom: 30px;
    border-radius: 20px;
}


.post_card > a > img {
    height: 160px;
}

@media screen and (min-width: 481px) {
    .post_card > a > img {
        width: 339px;
    }
}

@media screen and (max-width: 480px) {
    .post_card > a > img {
        width: calc(100vw - 36px);
    }
}


.post_card a {
    color: inherit;
}

.round {
    border-radius: 20px 20px 0 0;
}

.post_content {
    padding: 10px 18px 14px;
}

.post_content h3 {
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: bold;
}

.stars img {
    width: 14px;
}

.excerpt {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
}

.card_bottom {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.reviewer {
    display: flex;
    align-items: center;
}

.card_bottom .reviewer span {
    margin-left: 8px;
}

.frame-container {
    text-align: center;
    padding-bottom: 40px;
}

.frame-container iframe {
    border: 0;
}

@media screen and (min-width: 481px) {
    .post_container {
        display: grid;
        grid-template-columns: 340px 340px 340px;
        gap: 50px;
    }
}

@media screen and (max-width: 480px) {
    .post_card {
        margin-left: 18px;
        margin-right: 18px;
    }
}

/* Detail */
.image_container {
    display: flex;
}

.top_image {
    position: relative;
    overflow: hidden !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.top_image img {
    position: absolute;
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
}

.remains_image {
    width: 25%;
    height: 424px;
}

.remains_image div:first-child {
    height: 50%;
    position: relative;
    overflow: hidden !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.remains_image div:nth-child(2) {
    height: 50%;
    position: relative;
    overflow: hidden !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.remains_image img {
    position: absolute;
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
}

.review_container > .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.review_container h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

.review_body {
    margin-top: 40px;
}

.review_container .reviewer span {
    margin-left: 8px;
}

.review_container .reviewer a {
    color: inherit;
    text-decoration: none;
    display: contents;
}

.rating {
    margin-top: 20px;
    justify-content: space-between;
}

.rating .stars img {
    width: 18px !important;
}

.map_info iframe {
    border-radius: 20px;
}

/* Search */

.search_result {
    width: 100%;
    height: 221px;
}

@media screen and (min-width: 481px) {
    .image_container {
        height: 424px;
    }

    .top_image {
        width: 50%;
        height: 424px;
    }

    .review_container {
        margin-top: 50px;
    }

    .review_container h2 {
        font-size: 32px;
    }

    .review_container > .wrapper {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-around;
    }

    .review_container .review_content {
        width: 50%;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .rating {
        display: flex;
    }

    .rating .stars img {
        width: 18px !important;
    }

    .map_info {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .map_info iframe {
        width: 540px;
        height: 450px;
    }

    .VueCarousel {
        display: none;
    }

    .VueCarousel-navigation {
        display: none;
    }

    .VueCarousel-slide {
        display: none;
    }

    .VueCarousel-pagination {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .image_container {
        height: 250px;
    }

    .top_image {
        width: 100%;
        height: 100%;
    }

    .review_container {
        margin-top: 30px;
    }

    .review_container h2 {
        font-size: 28px;
    }

    .review_container .review_content {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }

    .stars > span {
        margin-left: 16px;
    }

    .rating .reviewer {
        margin-top: 16px;
    }

    .map_info h2 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .map_info iframe {
        padding-left: 0;
        padding-right: 0;
        width: 90%;
        height: 300px;
    }

    .VueCarousel-slide {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 100%;
        background: #ccc;
        border-right: 1px solid #fff;
        box-sizing: border-box;
    }

    .VueCarousel-slide img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .VueCarousel-navigation {
        display: none;
    }

}

/* Profile */

.profile_container .wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.main_profile > img {
    width: 100px;
    height: 100px;
}

.bio p:first-child {
    font-size: 20px;
    margin-bottom: 18px;
}

.main_profile > a {
    text-align: right;
    text-decoration: none;
    color: inherit;
}

.mypost {
    margin-top: 38px;
}

.mypost_container {
    justify-content: center;
    margin: 0 auto 40px;
}

.mypost > p {
    margin-top: 20px;
    margin-bottom: 26px;
    margin-left: 40px;
    font-size: 24px;
}

@media screen and (min-width: 481px) {
    .mypost_container {
        display: grid;
        grid-template-columns: 340px 340px;
        gap: 50px;
    }

    .profile_container .main_profile {
        margin-top: 80px;
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: 140px 420px 150px;
        gap: 80px;
    }
}

@media screen and (max-width: 480px) {
    .profile_container .main_profile {
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 0 50px;
        text-align: center;
    }

    .bio p:first-child {
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 18px;
    }

    .bio {
        margin-bottom: 20px;
    }

    .bio p:nth-child(2) {
        text-align: left !important;
    }

    .main_profile > a {
        margin-top: 14px;
    }
}


/* Comment */
.comment-date {
    margin: 10px 0;
}

.comment-content p {
    margin-top: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.comment-content h4 {
    margin-top: 10px;
}


@media screen and (min-width: 481px) {
    .comment-container {
        background: #eaeaea;
        padding: 20px 80px;
    }


    .commentter-info {
        display: flex;
    }

    .commentter-info span {
        font-weight: bold;
        margin-left: 28px;
        margin-top: 18px;
    }

    .commentter-info img {
        margin-top: 10px;
        width: 38px;
        height: 38px;
    }

    .thread-container {
        margin: 40px 20px;
        background-color: white;
        padding: 10px 40px;
    }
}

@media screen and (max-width: 480px) {
    .comment-container {
        background: #eaeaea;
        padding: 20px 0;
    }

    .commentter-info {
        display: flex;
    }

    .commentter-info span {
        font-weight: bold;
        margin-left: 28px;
        margin-top: 18px;
    }

    .commentter-info img {
        margin-top: 10px;
        width: 38px;
        height: 38px;
    }

    .thread-container {
        margin: 18px 20px;
        background-color: white;
        padding: 10px 28px;
    }
}


/* Footer */
footer {
    background-color: #c4c4c4;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #232323;
}

footer ul {
    list-style: none;
    display: flex;
}

footer .wrapper {
    margin: 0 auto;
}

.social_link ul {
    padding-left: 0;
    max-width: 1000px;
    justify-content: space-around;
    margin: 0 auto 40px;
}

.links ul {
    max-width: 800px;
    justify-content: space-around;
    margin: 0 auto 40px;
    font-size: 18px;
}


@media screen and (min-width: 481px) {
    footer {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    footer > p {
        font-size: 20px;
    }
}


@media screen and (max-width: 480px) {
    footer {
        padding-top: 46px;
        padding-bottom: 30px;
    }

    .social_link img {
        width: 34px;
        height: 34px;
    }

    footer a {
        font-size: 16px;
    }

    footer > p {
        font-size: 16px;
    }
}

/* Profile Form */
.btn-container {
    margin-right: 20px;
    margin-top: 0;
    text-align: end;
}

.btn-container a {
    color: #565656;
    margin-left: 10px;
}


@media screen and (min-width: 481px) {
    .post-form-container {
        margin: 0 240px;
    }

    .post-form {
        padding: 0 60px;
    }
}

@media screen and (max-width: 480px) {
    .post-form {
        padding: 0 30px;
    }
}


@media screen and (min-width: 481px) {
    .height-190or274 {
        height: 190px;
    }
}

@media screen and (max-width: 480px) {
    .height-190or274 {
        height: 274px;
    }
}