{% extends "base.html" %}
{% block title %}SkyHack | Create New {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<div class="post-form-container">
    <h2 style="margin-top: 40px; margin-left: 40px;">Create New Post</h2>
    <form action="" method="post" enctype="multipart/form-data" style="margin-top: 40px;">
        {% csrf_token %}
        <div class="profile_form post-form">
            <div>
                <span>{{ form.title.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.title | attr:"placeholder:enter your title"}}
            </div>
            <div>
                <span>{{ form.body.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.body | attr:"placeholder:write your experience"}}
            </div>
            <div>
                <span>{{ form.created_at.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.created_at | attr:"placeholder:e.g. 2020-04-07" }}
            </div>
            <div>
                <span>{{ form.author.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.author }}
            </div>
            <div>
                <span>{{ form.image1.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.image1 }}
            </div>
            <div>
                <span>{{ form.image2.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.image2 }}
            </div>
            <div>
                <span>{{ form.image3.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.image3 }}
            </div>
            <div>
                <span>{{ form.image4.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.image4 }}
            </div>
            <div>
                <span>{{ form.image5.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.image5 }}
            </div>
            <div>
                <span>{{ form.country.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.country | attr:"placeholder:e.g. Japan"}}
            </div>
            <div>
                <span>{{ form.rate.label_tag }}</span>
            </div>
            <div style="margin-bottom: 10px">
                {{ form.rate }}
            </div>


            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            {{ field.label }}
            <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
            {% endif %}
            <button type="submit" class="btn_dark" style="margin: 20px 0px; text-align: right">Save</button>
        </div>
    </form>
</div>
{% endblock %}