{% extends "base.html" %}
{% block title %}SkyHack | Edit Profile {% endblock %}
{% load static %}

{% block body %}
    <div class="post-form-container">
        <h2 style="margin-top: 40px; margin-left: 40px;">Update your profile</h2>
        <form action="" method="post" enctype="multipart/form-data" style="margin-top: 40px;">
            {% csrf_token %}
            <div class="profile_form post-form">
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div>
                        <span>{{ field.label_tag }}</span>
                    </div>
                    <div>
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <span class="helptext">{{ field.help_text }}</span>
                    {% endif %}
                    {{ field.errors }}
                {% endfor %}
                <button type="submit" class="btn_dark" style="margin: 20px 0px; text-align: right">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
