{% extends "base.html" %}
{% load static %}
{% load utils %}
{% load cloudinary %}

{% block title %}SkyHack | My page {% endblock %}

{% block body %}
    <!-- Content from here -->
    <div class="profile_container">
        <div class="wrapper">
            <div class="main_profile">
                <img src="{% cloudinary_url user.thumbnail %}" alt="" width="40px" class="trim-img-circle">
                <div class="bio">
                    <p>{{ user.username }}</p>
                    <p>{{ user.bio }}</p>
                </div>
                <div>
                <span style="cursor: pointer" class="toggle_profile pc" v-on:click="isModalOpen=!isModalOpen">
                    <img src="{% static 'images/cog-solid.svg' %}" style="width: 32px !important;">
                </span>
                </div>
            </div>

            <hr>

            <h3 style="margin-left: 20px; margin-top: 20px; margin-bottom: 20px;">Your Reviews</h3>

            {% if reviews %}
                <div class="comment-container">
                    {% for review in reviews %}
                        <div class="thread-container">
                            <div class="commentter-info">
                                <a href="/mypage/">
                                    <img src="{% cloudinary_url review.author.thumbnail %}"
                                         class="trim-img-circle" alt="">
                                </a>
                                <span>{{ review.author }}</span>
                            </div>
                            <p class="comment-date">{{ review.created_at | date:"d/m/Y" }}</p>
                            <span class="stars">
                            {% for file_id in ""|rjust:review.rate %}
                                <img src="{% static 'images/fullstar.svg' %}" alt="">
                            {% endfor %}
                                {% with notrate=review.rate|subtract:5 %}
                                    {% for file_id in ""|rjust:notrate %}
                                        <img src="{% static 'images/empty_star.svg' %}" alt="">
                                    {% endfor %}
                                {% endwith %}
                                <span>{{ review.rate }}.0</span>
                        </span>

                            <div class="comment-content">
                                <h4>{{ review.title }}</h4>
                                <p>{{ review.body }}</p>
                            </div>

                            <p class="btn-container">
                                <a href="/reviews/{{ review.id }}/edit"><i class="fas fa-edit"></i></a>
                                <a href="/reviews/{{ review.id }}/delete"><i class="fas fa-trash-alt"></i></a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div style="height: calc(100vh - 474px);"></div>
            {% endif %}

        </div>
    </div>
    <!-- End Content -->
{% endblock %}