{% load static %}

<footer>
    <div class="wrapper">
        <div class="social_link">
            <ul>
                <li>
                    <a href="#">
                        <img src="{% static 'images/twitter.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/posaune0423">
                        <img src="{% static 'images/github.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/posaune0423">
                        <img src="{% static 'images/instagram.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
        <p>©SkyHack All rights reserved</p>
    </div>
</footer>
