{% load static %}
{% load cloudinary %}

<div class="nav_container">
    <div class="wrapper">
        <nav class="d-flex">
            <div class="logo">
                <a href="/home">
                    <img src="{% static 'images/logo.svg' %}" alt=""/>
                </a>
            </div>
            <ul class="home_nav pc mb-0">
                    <li>
                        <a href="/airports/search/">
                            <img src="{% static 'images/search.svg' %}" alt="">
                        </a>
                    </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="/mypage/">
                            <img src="{% cloudinary_url user.thumbnail %}" alt="" width="50px"
                                 class="rounded-circle avater">
                        </a>
                    </li>
                    <li>
                        <a href="/logout/">logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/signup/" class="btn_dark">signup</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="home_nav sp mb-0">
                {% if user.is_authenticated %}
                    <li class="mr-4">
                        <a href="/airports/search/">
                            <img src="{% static 'images/search.svg' %}" width="22px" alt="" class="mt-1">
                        </a>
                    </li>
                    <li v-on:click='isOpen=!isOpen'>
                        <img src="{% cloudinary_url user.thumbnail %}" alt="" width="32px" height="32px" class="rounded-circle"
                             id="menu-icon">
                    </li>
                {% else %}
                    <li>
                        <div class="signup_btn"><a href="/signup/" class="btn_dark">signup</a></div>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>


<!-- Modal -->
<div class="profile_modal" id="profile_modal" v-bind:class="{ 'd-none':isModalOpen }">
    <div class="wrapper">
        <ul>
            <li><a href="/mypage/profile/">Edit profile</a></li>
            <li><a href="/reviews/create/">Write new review</a></li>
            <li><a href="/logout/">Log out</a></li>
        </ul>
    </div>
</div>