{% load static %}

<div class="nav_container">
    <div class="wrapper">
        <nav>
            <div class="logo"><a href="/posts"><img src="{% static "images/logo.svg" %}" alt=""></a></div>
            <ul class="home_nav pc">
                {% if user.is_authenticated %}
                <li><a href="/search/"><img src="{% static "images/search.svg" %}" alt=""></a></li>

                <li><a href="/mypage/notification/"><img src="{% static "images/bell.svg" %}" alt=""></a></li>

                <li><a href="/mypage/"><img src="{{ user.thumbnail.url }}" alt=""
                                            class="trim-img-circle" width="58px" height="58px"></a></li>
                <li><a href="/logout/">logout</a></li>
                {% else %}
                <li><a href="/signup/">sign up</a></li>
                {% endif %}
            </ul>
            <ul class="home_nav sp">
                {% if user.is_authenticated == false %}
                <li>
                    <div class="signup_btn"><a href="/signup/" class="btn_dark">signup</a></div>
                </li>
                {% endif %}
                <li v-on:click='isOpen=!isOpen'><img src="{% static "images/bars-solid.svg" %}" alt="" width="26px"
                    id="menu-icon">
                </li>
            </ul>
        </nav>
    </div>
</div>


<!-- Modal -->
<div class="profile_modal" id="profile_modal" v-bind:class="{ 'hidden':!isModalOpen }">
    <div class="wrapper">
        <div class="user_part"><img src="{{ user.thumbnail.url }}" width="40px"
                                    class="trim-img-circle" alt="">
            <span>{{ user.username }}</span>
        </div>
        <ul>
            <li><a href="/mypage/profile/">Profile</a></li>
            <li><a href="/posts/create/">Create a new post</a></li>
            <li><a href="/logout/">Log out</a></li>
        </ul>
    </div>
</div>