<div id="slideout-menu" v-bind:class="{ open:isOpen }">
    <h3>Skyhack</h3>
    <div class="user_part">
        <a href="/mypage/">
            <img src="{{ user.thumbnail.url }}"
                 width="40px"
                 height="40px"
                 class="trim-img-circle" alt="">
        </a>
        <span>{{ user.username }}</span>
    </div>
    <ul>
        <li><a href="/airports/search/">Search</a></li>
        {% if user.is_authenticated %}
        <li><a href="/mypage/profile/">Edit profile</a></li>
        <li><a href="/reviews/create/">Write new review</a></li>
        <li><a href="/logout/">Log out</a></li>
        {% else %}
        <li><a href="/signup/">Signup</a></li>
        {% endif %}
    </ul>
</div>


<div class="overlay" v-bind:class="{ 'hidden':!isOpen }" v-on:click="isOpen=!isOpen"></div>