{% load cloudinary %}
<div id="slideout-menu" v-bind:class="{ open:isOpen }">
    <h3>Skyhack</h3>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="/mypage/profile/">Edit profile</a></li>
        <li><a href="/reviews/create/">Write new review</a></li>
        <li><a href="/logout/">Log out</a></li>
        {% else %}
        <li><a href="/signup/">Signup</a></li>
        {% endif %}
    </ul>
</div>


<div class="overlay" v-bind:class="{ 'd-none':!isOpen }" v-on:click="isOpen=!isOpen"></div>