<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "includes/head.html" %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<div id="app">

    <!--  Header Part  -->
    {% include "includes/header.html" %}

    <!--    Slideout Menu -->
    <div id="slideout-menu" v-bind:class="{ open:isOpen }">
        <h3>Skyhack</h3>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="/mypage/profile/">Account settings</a></li>
                <li><a href="/mypage/">Your profile</a></li>
                <li><a href="/reviews/create">New review</a></li>
                <li><a href="/logout/">Log out</a></li>
            {% else %}
                <li><a href="/signup/">Signup</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="overlay" v-bind:class="{ 'd-none':!isOpen }" v-on:click="isOpen=!isOpen"></div>


    <!--  Body Part  -->
    {% block body %}
    {% endblock %}

    <!--  Footer Part  -->
    {% include "includes/footer.html" %}
</div>

<script>
    new Vue({
        el: '#app',
        components: {
            'carousel': VueCarousel.Carousel,
            'slide': VueCarousel.Slide,
            'editor': Editor
        },
        data() {
            return {
                isOpen: false,
                isModalOpen: true,
                apikey: 'mb3f6bv2foh5z0l6r61f5ntvhsjkkssrehham3fupz316c7h',
                init: {
                    height: 500,
                    name: 'body',
                    menubar: false,
                    plugins: [
                        'preview fullpage importcss searchreplace autolink \
                        autosave save directionality visualblocks visualchars fullscreen image link media template codesample \
                        table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount \
                        imagetools textpattern noneditable help charmap quickbars  emoticons'
                    ],
                    toolbar: [
                        'undo redo | formatselect | bold italic backcolor'
                    ],
                },
                initialValue: '<p>Write your review here</p>'
            }
        }
    })
</script>
</body>
</html>