{% extends "base.html" %}
{% block title %}Post List{% endblock %}
{% load static %}
{% load utils %}

{% block body %}

    <!-- Filter Box -->
    <div class="filter_box">
        <form action="" method="get" role="search">
            <a type="submit"><img src="{% static 'images/pin.svg' %}" alt=""></a>
            <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search Post...">
        </form>
    </div>


    {% if airports %}
        <div class="post_container">
            {% for airport in airports %}
                <div class="post_card">
                    <a href="/airports/{{ airport.id }}">
                        <img src="{{ airport.image1.url }}"  class="rounded" alt="">
                        <div class="post_content">
                            <h3>{{ airport.title }}</h3>
                            <span class="stars">
                            {% for file_id in ""|rjust:airport.rate %}
                                <img src="{% static 'images/fullstar.svg' %}" alt="">
                            {% endfor %}
                                {% with notrate=airport.rate|subtract:5 %}
                                    {% for file_id in ""|rjust:notrate %}
                                        <img src="{% static 'images/empty_star.svg' %}" alt="">
                                    {% endfor %}
                                {% endwith %}
                                <span>{{ airport.rate }}.0</span>
                        </span>
                            <div class="excerpt">
                                <p>{{ airport.body | truncatewords:12 }} (more)</p>
                            </div>
                            <div class="card_bottom">
                                <div class="tag">{{ airport.created_at | date:"d/m/Y" }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="notfound" style="height: calc(100vh - 348px)">
        {% if request.GET.q %}
            <h3 style="text-align: center;">Sorry We couldn't find that airport</h3>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}