{% extends "base.html" %}
{% block title %}Post List{% endblock %}
{% load static %}

{% block body %}

<!-- Filter Box -->
<div class="filter_box">
    <form action="" method="get" role="search">
        <a type="submit"><img src="{% static " images/pin.svg" %}" alt=""></a>
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search Post...">
    </form>
</div>


{% if posts %}
<div class="post_container">
    {% for post in posts %}
    <div class="post_card">
        <a href="/posts/{{ post.id }}"><img src="{{ post.image1.url }}" class="rounded" width="340px"
                                            height="160px" alt="">
            <div class="post_content">
                <h3>{{ post.title }}</h3>
                <span class="stars">
                        <img src="{% static " images/fullstar.svg" %}" alt="">
                        <img src="{% static " images/fullstar.svg" %}" alt="">
                        <img src="{% static " images/fullstar.svg" %}" alt="">
                        <img src="{% static " images/fullstar.svg" %}" alt="">
                        <img src="{% static " images/empty_star.svg" %}" alt="">
                    </span>
                <div class="excerpt">
                    <p>{{ post.body | truncatewords:12 }} (more)</p>
                </div>
                <div class="card_bottom">
                    <div class="tag">{{ post.pub_date | date:"d/m/Y" }}</div>
                    <div class="reviewer"><img src="{{ post.author.thumbnail.url }}"
                                               class="trim-img-circle" width="32px" height="32px"
                                               alt="reviewer"><span>{{ post.author }}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="height-190or274"></div>
{% endif %}
{% endblock %}