<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load widget_tweaks %}
    {% include "includes/head.html" %}
    <title>SkyHack | Sign up</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Fill in </h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="/signup/">{% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                {{ form.username | add_class:"form-control" | attr:"placeholder:username" | attr:"autocomplete:username" }}
                                {% for error in form.username.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.email | add_class:"form-control" | attr:"placeholder:mail address" | attr:"autocomplete:email" }}
                                {% for error in form.email.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.password1 | add_class:"form-control" | attr:"placeholder:password" | attr:"autocomplete:current-password" }}
                                {% for error in form.password.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.password2 | add_class:"form-control" | attr:"placeholder:password confirmation" | attr:"autocomplete:current-password" }}
                                {% for error in form.password2.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <input class="btn btn-dark btn-lg btn-block" type="submit" value="Sign Up"/>
                        </fieldset>
                    </form>
                </div>
                <p class="mt-4">
                    <span>already have an account?</span>
                    <a href="/login/">login here</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>