{% extends "base.html" %}
{% load static %}
{% load utils %}
{% load cloudinary %}

{% block title %}
    {% if is_mypage %}
    SkyHack | My page
    {% else %}
        SkyHack | {{ selected_user.username }}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Content from here -->
    {% if is_mypage %}
        <div class="profile_container">
        <div class="wrapper">
        <div class="main_profile">
            <img src="{% cloudinary_url user.thumbnail %}" alt="" width="40px" class="rounded-circle">
            <div class="bio">
                <p>{{ user.username }}</p>
                <p>{{ user.bio }}</p>
            </div>
            <div>
                <span class="toggle_profile pc" v-on:click="isModalOpen=!isModalOpen">
                    <img src="{% static 'images/cog-solid.svg' %}" width="32px">
                </span>
            </div>
        </div>
    {% else %}
        <div class="profile_container">
        <div class="wrapper">
        <div class="main_profile">
            <img src="{% cloudinary_url selected_user.thumbnail %}" alt="" width="40px" class="rounded-circle">
            <div class="bio">
                <p>{{ selected_user.username }}</p>
                <p>{{ selected_user.bio }}</p>
            </div>
        </div>
    {% endif %}


<hr>

<h3 class="ml-4 mt-4 mb-4">
    {% if is_mypage %}Your r{% else %}R{% endif %}eviews
</h3>

{% if reviews %}
    <div class="comment-container">
        {% for review in reviews %}
            <div class="thread-container">
                <div class="commentter-info">
                    <a href="/mypage/">
                        <img src="{% cloudinary_url review.author.thumbnail %}"
                             class="rounded-circle" alt="">
                    </a>
                    <span>{{ review.author }}</span>
                </div>
                <p class="comment-date">{{ review.created_at | date:"Y/m/d" }}</p>
                <span class="stars">
                            {% for file_id in ""|rjust:review.rate %}
                                <img src="{% static 'images/fullstar.svg' %}" alt="">
                            {% endfor %}
                    {% with notrate=review.rate|subtract:5 %}
                        {% for file_id in ""|rjust:notrate %}
                            <img src="{% static 'images/empty_star.svg' %}" alt="">
                        {% endfor %}
                    {% endwith %}
                    <span>{{ review.rate }}.0</span>
                        </span>

                <div class="comment-content">
                    <h5>{{ review.title }}</h5>
                    <p>{{ review.body | safe }}</p>
                </div>

                {% if is_mypage %}
                    <p class="btn-container">
                        <a href="/reviews/{{ review.id }}/edit"><i class="fas fa-edit"></i></a>
                        <a href="/reviews/{{ review.id }}/delete"><i class="fas fa-trash-alt"></i></a>
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div style="height: calc(100vh - 474px);"></div>
{% endif %}

</div>
</div>
<!-- End Content -->
{% endblock %}