{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block title %}SkyHack | My page {% endblock %}

{% block body %}
    <!-- Content from here -->
    <div class="profile_container">
        <div class="wrapper">
            <div class="main_profile">
                <img src="{% cloudinary_url selected_user.thumbnail %}" alt=""
                     class="trim-img-circle">
                <div class="bio">
                    <p>{{ selected_user.username }}</p>
                    <p>{{ selected_user.bio }}</p>
                </div>
                {% if user.id == selected_user.id %}
                    <div>
                    <span style="cursor: pointer" class="toggle_profile" v-on:click="isModalOpen=!isModalOpen">
                        <img src="{% static 'images/cog-solid.svg' %}" style="width: 32px !important;"></span>
                    </div>
                {% endif %}
            </div>

            <hr>

            <div class="mypost">
                <p>My Reviews</p>
                <div class="mypost_container">
                    {% for review in reviews %}
                        <div class="post_card">
                            <a href="/posts/{{ review.id }}">
                                <img src="{% cloudinary_url review.image1 %}" class="rounded" width="340px" height="160px" alt="">
                                <div class="post_content">
                                    <h3>{{ review.title }}</h3>
                                    <div>
                                        {% include "includes/star.html" %}
                                    </div>
                                    <div class="excerpt">
                                        <p>{{ review.body | truncatewords:12 }} (more)</p>
                                    </div>
                                    <div class="card_bottom">
                                        <div class="tag">
                                            {{ review.created_at | date:"d/m/Y" }}
                                        </div>
                                        <div class="reviewer">
                                            <img src="{% cloudinary_url review.author.thumbnail %}" class="trim-img-circle" alt="">
                                            <span>{{ review.author }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->
{% endblock %}